{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "deps/css/main.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/index.css" %}">
    <link rel="shortcut icon" href="{% static 'deps/favicon/logo.ico' %}">
</head>
<body>
    <section class="menu">
      <!-- Логотип -->
      <div class="menu__header">
        <header class="menu__logo">
        <img src="{% static "deps/icons/logotype.png" %}" alt="Logo" height=128px width=128px>
        <h2>Revelation</h2>
        </header>
      </div>

      <hr>

      <!-- Основное меню -->
      <div class="main__menu">
        <ul class="menu__list list">
        <li class="menu__item item">
          <a href="/" class="menu__link link">
            <img src="{% static "deps/icons/home.svg" %}" alt="Home" />
            <span>Главная</span>
          </a>
        </li>
        <li class="menu__item item">
          <a href="/relevance" class="menu__link link">
            <img src="{% static "deps/icons/relevance.svg" %}" alt="Recents" />
            <span>Востребованность</span>
          </a>
        </li>
        <li class="menu__item item">
          <a href="/geography" class="menu__link link">
            <img src="{% static "deps/icons/geography.svg" %}" alt="Starred" />
            <span>География</span>
          </a>
        </li>
        <li class="menu__item item">
          <a href="/skills" class="menu__link link">
            <img src="{% static "deps/icons/skills.svg" %}" alt="Photos" />
            <span>Навыки</span>
          </a>
        </li>
        <li class="menu__item item">
          <a href="/recent-vacancies" class="menu__link link">
            <img src="{% static "deps/icons/recent.svg" %}" alt="Shared" />
            <span>Последние вакансии</span>
          </a>
        </li>
        </ul>
      </div>

      <hr>

      <div class="menu__footer">
        <footer>
          <span>Тимохов Кирилл Александрович</span>
          <span>РИ-220910</span>
        </footer>
      </div>
    </section>


    <section class="content">
      {% block content %}
      {% endblock %}
    </section>
</body>
</html>