{% extends 'main/base.html' %}

{% block title %} Последние вакансии {% endblock %}


{% block content %}
    <h1>Последние вакансии C#-программист</h1>
    <table style="border: 1px solid rgb(0, 0, 0);">
      <thead>
        <tr>
            <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">Ссылка</th>
            <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">Название вакансии</th>
            <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">Описание вакансии</th>
            <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">Навыки</th>
            <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">Компания</th>
            <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">Оклад</th>
            <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">Название региона</th>
            <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">Дата публикации вакансии</th>
        </tr>
      </thead>
      <tbody>
        {% for vac in data %}
        <tr>
            {% for key, value in vac.items %}
                {% if key == 'id' %}
                    <td style="border: 1px solid rgb(0, 0, 0);"><a href="https://hh.ru/vacancy/{{value}}">Ссылка</a></td>
                {% else %}
                    <td style="border: 1px solid rgb(0, 0, 0);">{{value}}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

