{% extends 'main/base.html' %}
{% load static %}

{% block title %} Востребованность {% endblock %}


{% block content %}
    <h1>Востребованность</h1>
    <img src="{% static "deps/images/salary_dynamics_for_data.png" %}" alt="bar1">
    <img src="{% static "deps/images/salary_dynamics_for_filtred_data.png" %}" alt="bar2">
    <img src="{% static "deps/images/vacancies_dynamics_for_data.png" %}" alt="bar3">
    <img src="{% static "deps/images/vacancies_dynamics_for_filtred_data.png" %}" alt="bar4">

{% endblock %}