.table1{
    margin-bottom: 20px;
}

.table_{
    display: flex;
    justify-content: center;
}

.imgs_{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.imgs{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}